body {
    background-color: #15202b;
}

h1 {
    color: white;
    font-family:sans-serif;
}

p {
  color:white;
  font-family:sans-serif;
}

img{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.center {
  text-align: center
 }