/* color palette: (Black: #222831, Space: #393E46, Teal(#00ADB5), Light grey: #EEEEEE)*/
body {
    background-color: #15202b;
}

h1 {
    color: #EEEEEE;
    font-family:sans-serif;
}

p {
  color:#EEEEEE;
  font-family:sans-serif;
  font-weight: bold;
}

ul {
  color:#00ADB5;
  font-family:sans-serif;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.center {
  text-align: center
 }