/* color palette: (Black: #222831, Space: #393E46, Teal(#00ADB5), Light grey: #EEEEEE)*/
body {
    background-color: #15202b;
}

h1 {
    color: #EEEEEE;
    font-family:sans-serif;
}

p {
  color:#EEEEEE;
  font-family:sans-serif;
  font-weight: bold;
}

ul {
  color:#00ADB5;
  font-family:sans-serif;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
} 

.center {
  text-align: center
 }

 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    height: auto;
    margin: auto;
    width: 550px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}